@font-face {
  font-family: Outfit;
  font-weight: 300;
  src: url('~assets/fonts/Outfit-Regular') format('woff')
}

@font-face {
  font-family: Outfit-Bold;
  font-weight: 700;
  src: url('~assets/fonts/Outfit-Bold') format('woff')
}

@font-face {
  font-family: Outfit-Medium;
  font-weight: 600;
  src: url('~assets/fonts/Outfit-Medium') format('woff')
}

@font-face {
  font-family: Outfit-SemiBold;
  font-weight: 500;
  src: url('~assets/fonts/Outfit-SemiBold') format('woff')
}